/* My CSS */
@font-face {
	font-family: Agave;
	src: url(../fonts/Agave-Regular.ttf) format("truetype");
	font-display: swap;
}

html {
	font-family: Agave;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
